/**
*Base
*Copyright 2023
*Author OwenHe
*Licensed
*/
/*----------*\
    Content
\*----------*/
/**
*Content
*Core
*global
*Utility
*/

/* Core */
/* Default style */
*{
    box-sizing: border-box;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(28, 28, 28, 0.8);
    background-color: #FCFAF2;
}
a{
    color: rgba(28, 28, 28, 0.8);
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}

/* heading style */
h1,h2,h3,h4,h5,h6,p,.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0;
    padding: 0;
}
/* list style */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Colors */
.color-primary-01{color: #00323F;}
.color-primary-01-75{color: rgba(0, 50, 63, 0.75);}
.color-primary-01-50{color: rgba(0, 50, 63, 0.5);}
.color-primary-01-25{color: rgba(0, 50, 63, 0.25);}
.color-primary-02{color: #CA7A2C;}
.color-secondary-01{color: #7BA23F;}
.color-secondary-02{color: #F9BF45;}
.color-alert-01{color: #CC543A;}
.color-alert-02{color: rgba(204, 84, 58, 0.5);}
.color-black-01{color: #303030;}
.color-black-02{color: rgba(48, 48, 48, 0.75);}
.color-black-03{color: rgba(48, 48, 48, 0.5);}
.color-black-04{color: rgba(48, 48, 48, 0.25);}
.color-white{color: #FBFBFB;}
.color-gray{color: #D9D9D9;}
.bgc-primary-01{background-color: #B4A582;}
.bgc-primary-02{background-color: rgba(180, 165, 130, 0.5);}
.bgc-primary-03{background-color: rgba(180, 165, 130, 0.25);}
.bgc-white-01{background-color: #FFFFFF;}
.bgc-white-02{background-color: rgba(255, 255, 255, 0.5);}
.bgc-white-03{background-color: rgba(255, 255, 255, 0.2);}

/* Font */
@media screen and (min-width: 0px) {
    .jp-12-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 576px) {
    .jp-12-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 768px) {
    .jp-12-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 996px) {
    .jp-12-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 1440px) {
    .jp-12-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}

/* Margin */
.mlr-a{
    margin-left: auto;
    margin-right: auto;
}

/* Padding */
.pt-8{padding-top: 0.5rem;}
.pt-12{padding-top: 0.8rem;}
.pt-16{padding-top: 1rem;}
.pt-24{padding-top: 1.5rem;}
.pt-48{padding-top: 3rem;}
.pt-96{padding-top: 6rem;}
.pb-8{padding-bottom: 0.5rem;}
.pb-12{padding-bottom: 0.8rem;}
.pb-16{padding-bottom: 1rem;}
.pb-24{padding-bottom: 1.5rem;}
.pb-48{padding-bottom: 3rem;}
.pb-96{padding-bottom: 6rem;}
.pl-8{padding-left: 0.5rem;}
.pl-12{padding-left: 0.8rem;}
.pl-16{padding-left: 1rem;}
.pl-24{padding-left: 1.5rem;}
.pl-48{padding-left: 3rem;}
.pl-96{padding-left: 6rem;}
.pr-8{padding-right: 0.5rem;}
.pr-12{padding-right: 0.8rem;}
.pr-16{padding-right: 1rem;}
.pr-24{padding-right: 1.5rem;}
.pr-48{padding-right: 3rem;}
.pr-96{padding-right: 6rem;}

/* u-text */
.u-text-r{
    text-align: right;
}
.u-text-l{
    text-align: left;
}
.u-text-c{
    text-align: center;
}
.u-text-j{
    text-align: justify;
}

/* border */
.bor-t-1-s-b{border-top: 1px solid rgba(28, 28, 28, 0.8);}
.bor-b-1-s-b{border-bottom: 1px solid rgba(28, 28, 28, 0.8);}
.bor-r-1-s-b{border-right: 1px solid rgba(28, 28, 28, 0.8);}
.bor-l-1-s-b{border-left: 1px solid rgba(28, 28, 28, 0.8);}
.bor-t-2-s-b{border-top: 2px solid rgba(28, 28, 28, 0.8);}
.bor-b-2-s-b{border-bottom: 2px solid rgba(28, 28, 28, 0.8);}
.bor-r-2-s-b{border-right: 2px solid rgba(28, 28, 28, 0.8);}
.bor-l-2-s-b{border-left: 2px solid rgba(28, 28, 28, 0.8);}