/* Default style */
*{
    box-sizing: border-box;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 1rem;
    line-height: 1.5;
    color: #00323F;
    background-color: rgba(180, 165, 130, 0.5);
}
a{
    display: block;
    color: #00323F;
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}
p{
    word-wrap: break-word;
}

/* heading style */
h1,h2,h3,h4,h5,h6,p,.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0;
    padding: 0;
}
h1,.h1{
    font-size: 8rem;
    line-height: 12rem;
}
h2,.h2{
    font-size: 3rem;
    line-height: 4.5rem;
}
h3,.h3{
    font-size: 2.25rem;
    line-height: 3.375rem;
}
h4,.h4{
    font-size: 1.5rem;
    line-height: 2.25rem;
}
h5,.h5{
    font-size: 1rem;
    line-height: 1.5rem;
}
h6,.h6{
    font-size: 0.875rem;
    line-height: 1.3125rem;
}
/* list style */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Colors */
.color-primary-01{color: #00323F;}
.color-primary-01-75{color: rgba(0, 50, 63, 0.75);}
.color-primary-01-50{color: rgba(0, 50, 63, 0.5);}
.color-primary-01-25{color: rgba(0, 50, 63, 0.25);}
.color-primary-02{color: #CA7A2C;}
.color-secondary-01{color: #7BA23F;}
.color-secondary-02{color: #F9BF45;}
.color-alert-01{color: #CC543A;}
.color-alert-02{color: rgba(204, 84, 58, 0.5);}
.color-black-01{color: #303030;}
.color-black-02{color: rgba(48, 48, 48, 0.75);}
.color-black-03{color: rgba(48, 48, 48, 0.5);}
.color-black-04{color: rgba(48, 48, 48, 0.25);}
.color-white{color: #FBFBFB;}
.color-gray{color: #D9D9D9;}
.bgc-primary-01{background-color: #B4A582;}
.bgc-primary-02{background-color: rgba(180, 165, 130, 0.5);}
.bgc-primary-03{background-color: rgba(180, 165, 130, 0.25);}
.bgc-primary-04{background-color: #00323F;}
.bgc-white-01{background-color: #FFFFFF;}
.bgc-white-02{background-color: rgba(255, 255, 255, 0.5);}
.bgc-white-03{background-color: rgba(255, 255, 255, 0.2);}

/* header */
.header-nav{
    max-width: 996px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-head{
    width: 20%;
    padding: 0 1rem;
}
.header-body{
    padding: 0 1rem;
}
.header-ul{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Serif', serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}
.header-li{
    padding: 0 1rem;
}
.header-ul-box{
    background-color: rgba(180, 165, 130, 0.5);
    border-radius: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    display: none;
}
.header-ul-li{
    padding: 0.5rem 1rem;
}

/* button */
.btn-primary{
    width: 16.66666667vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #00323F;
    border: 2px solid #00323F;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn-primary:hover{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(180, 165, 130, 0.5);
    border: 2px solid #00323F;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
    color: #00323F;
}
.btn-primary:hover p{
    color: #00323F;
}