/**
*Base
*Copyright 2023
*Author OwenHe
*Licensed
*/
/*----------*\
    Content
\*----------*/
/**
*Content
*Core
*global
*Utility
*/

/* Core */
/* Default style */
*{
    box-sizing: border-box;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 1rem;
    line-height: 1.5;
    color: #00323F;
}
a{
    color: #00323F;
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}
p{
    word-wrap: break-word;
}

/* heading style */
h1,h2,h3,h4,h5,h6,p,.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0;
    padding: 0;
}
h1,.h1{
    font-size: 8rem;
    line-height: 12rem;
}
h2,.h2{
    font-size: 3rem;
    line-height: 4.5rem;
}
h3,.h3{
    font-size: 2.25rem;
    line-height: 3.375rem;
}
h4,.h4{
    font-size: 1.5rem;
    line-height: 2.25rem;
}
h5,.h5{
    font-size: 1rem;
    line-height: 1.5rem;
}
h6,.h6{
    font-size: 0.875rem;
    line-height: 1.3125rem;
}
/* list style */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Colors */
.color-primary-01{color: #00323F;}
.color-primary-01-75{color: rgba(0, 50, 63, 0.75);}
.color-primary-01-50{color: rgba(0, 50, 63, 0.5);}
.color-primary-01-25{color: rgba(0, 50, 63, 0.25);}
.color-primary-02{color: #CA7A2C;}
.color-secondary-01{color: #7BA23F;}
.color-secondary-02{color: #F9BF45;}
.color-alert-01{color: #CC543A;}
.color-alert-02{color: rgba(204, 84, 58, 0.5);}
.color-black-01{color: #303030;}
.color-black-02{color: rgba(48, 48, 48, 0.75);}
.color-black-03{color: rgba(48, 48, 48, 0.5);}
.color-black-04{color: rgba(48, 48, 48, 0.25);}
.color-white{color: #FBFBFB;}
.color-gray{color: #D9D9D9;}
.bgc-primary-01{background-color: #B4A582;}
.bgc-primary-02{background-color: rgba(180, 165, 130, 0.5);}
.bgc-primary-03{background-color: rgba(180, 165, 130, 0.25);}
.bgc-primary-04{background-color: #00323F;}
.bgc-white-01{background-color: #FFFFFF;}
.bgc-white-02{background-color: rgba(255, 255, 255, 0.5);}
.bgc-white-03{background-color: rgba(255, 255, 255, 0.2);}

/* u-text */
.u-text-r{
    text-align: right;
}
.u-text-l{
    text-align: left;
}
.u-text-c{
    text-align: center;
}
.u-text-j{
    text-align: justify;
}

/* center vertically */
.c-v{
    display: flex;
    align-items: center;
    height: 100%;
}

/* border */
.bor-t-1-s{border-top: 1px solid rgba(0, 50, 63, 0.75);}
.bor-b-1-s{border-bottom: 1px solid rgba(0, 50, 63, 0.75);}
.bor-r-1-s{border-right: 1px solid rgba(0, 50, 63, 0.75);}
.bor-l-1-s{border-left: 1px solid rgba(0, 50, 63, 0.75);}
.bor-t-2-s{border-top: 2px solid rgba(0, 50, 63, 0.75);}
.bor-b-2-s{border-bottom: 2px solid rgba(0, 50, 63, 0.75);}
.bor-r-2-s{border-right: 2px solid rgba(0, 50, 63, 0.75);}
.bor-l-2-s{border-left: 2px solid rgba(0, 50, 63, 0.75);}
.bor-box-1{border: 1px solid #00323F;}
.bor-box-2{border: 2px solid #00323F;}

/* height */
.hei-1{height: 1rem;}
.hei-1-5{height: 1.5rem;}
.hei-2{height: 2rem;}
.hei-2-5{height: 2.5rem;}

/* button */
.btn-primary{
    width: 16.66666667vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #00323F;
    border: 2px solid #00323F;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn-primary:hover{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(180, 165, 130, 0.5);
    border: 2px solid #00323F;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
    color: #00323F;
}
.btn-primary:hover p{
    color: #00323F;
}