.navbar{
    max-width: 996px;
    padding: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li ul{
    width: 12.25rem;
    padding: 1rem;
    display: none;
    position: absolute;
    right: 50%;
    transform: translate(50%,0);
    border-radius: 0.5rem;
}
.nav-li:hover ul{
    display: block;
    background-color: rgba(180, 165, 130, 0.75);
    z-index: 3;
}
.nav-li ul li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 50, 63, 1);
}
.nav-li ul li:last-child{
    border: none;
}
.nav-li a:hover{
    color: #ca7a2c;
}
.nav-icon-ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-icon-li{
    padding-left: 1.5rem;
}
.ban-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ban-li{
    padding-top: 3rem;
}
    