/* banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ban-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ban-li{
    padding-top: 3rem;
}
    