/* Font */

@media screen and (min-width: 0px) {
    .jp-12-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-xs{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-xs{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-xs{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 576px) {
    .jp-12-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-sm{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-sm{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-sm{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 768px) {
    .jp-12-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-md{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-md{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-md{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-md{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-md{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-md{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 996px) {
    .jp-12-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-lg{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-lg{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-lg{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}
@media screen and (min-width: 1440px) {
    .jp-12-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .jp-16-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .jp-24-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .jp-48-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .jp-96-r-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .jp-12-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .jp-16-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .jp-24-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .jp-48-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .jp-96-s-xxl{
        font-family: 'Noto Serif JP', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .en-16-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .en-24-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .en-48-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .en-96-r-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .en-12-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .en-16-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .en-24-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .en-48-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .en-96-s-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
    .en-12-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-16-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-24-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-48-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-96-ri-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
        font-style: italic;
    }
    .en-12-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-16-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-24-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-48-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
        font-style: italic;
    }
    .en-96-si-xxl{
        font-family: 'Roboto Serif', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
        font-style: italic;
    }
    .tw-12-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 400;
    }
    .tw-16-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    .tw-24-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .tw-48-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 400;
    }
    .tw-96-r-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 400;
    }
    .tw-12-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-weight: 600;
    }
    .tw-16-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    .tw-24-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-weight: 600;
    }
    .tw-48-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 600;
    }
    .tw-96-s-xxl{
        font-family: 'Noto Serif TC', serif;
        font-size: 6rem;
        line-height: 9rem;
        font-weight: 600;
    }
}